<!DOCTYPE html>
<html>
<head>
  <title>Microfit</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- Microfit CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
  <!-- JavaScript -->
  <script src="/static/js/home.js"></script>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Shadows+Into+Light|Raleway:700' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="container" id="home-wrapper" >
    <header class="home-header">
      <h1>Microfit</h1>
     
      <h2> Quick Workouts for Lazy & Indoorsy People</h2>
    </header>
    <!-- Sign up Button -->
    <div>
     <button class="floated" id="signButton" action="/signup" class="btn btn-default btn-lg">SignUp!</button>
     <script type="text/javascript">
        document.getElementById("signButton").onclick = function () {
            location.href = "/signup";
        };
    </script>
    </div>
    <!-- Log In Button-->
    <div>
     <button class="floated" id="logButton" action="/login" class="btn btn-default btn-lg" >Login!</button>
     <script type="text/javascript">
        document.getElementById("logButton").onclick = function () {
            location.href = "/login";
        };
    </script>
    <br class="clearFloat">
    </div>
  </div>

</body>




</html>