<!DOCTYPE html>
<html>
<head>
  <title>Microfit Menu</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- Microfit CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Microfit <small>Quick Workouts for Indoorsy People</small></h1>
    </header>
    <!-- form -->
    <div>
     <h2>Select A Routine</h2>
    </div>
    <div>
      <h3><a href="/routine1"> Routine 1 </a><h3>
    </div>
    <div>
      <h3><a href="/routine2"> Routine 2 </a><h3>
    </div>
    <div>
      <h3><a href="/routine3"> Routine 3 </a><h3>
    </div>
    <div>
      <h3><a href="/profile"> Profile / Create Your Own </a><h3>
    </div>
 

</body>




</html>