<!DOCTYPE html>
<html>
<head>
  <title>Microfit Menu</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- Microfit CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <script src="/static/js/home.js"></script>
   <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Shadows+Into+Light|Raleway:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Microfit <small>Quick Workouts for Indoorsy People</small></h1>
       <div class="workoutLog">
    </div>
    </header>
    <!-- form -->
    <div>
     <h2>Select A Routine</h2>
    </div>
    <a href="/routine1">
    <div class="f_routine">
      <h3>Easy Breezy<h3>
    </div>
    </a>
    <a href="/routine2">
    <div class="s_routine">
      <h3> Break a Sweat<h3>
    </div></a>
    <a href="/routine3">
    <div class="t_routine">
      <h3> This is going to *&%#@ Hurt<h3>
    </div></a>
    <a href="/profile">
    <div class="c_routine">
      <h3> Profile / Create Your Own <h3>
    </div></a>
 

</body>




</html>