<!DOCTYPE html>
<html>
<head>
  <title>Microfit Menu</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- Microfit CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <script src="/static/js/home.js"></script>
   <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Shadows+Into+Light|Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Welcome, <span id="name"></span><strong>Select your workout</strong></h1>

    </header>

    <div class="col-sm-12 col-md-12">
  <div class="thumbnail tile tile-medium" id="corner">
    <a href="/routine1">
      <h1>Easy Breezy</h1>
      </a>
    </div>
  </div>
<div class="col-sm-12 col-md-12">
  <div class="thumbnail tile tile-medium" id="corner">
    <a href="/routine2" >
      <h2>
      Let's Get Weird
      </h2>
    </a>
  </div>
</div>
<div class="col-sm-12 col-md-12">
  <div class="thumbnail tile tile-wide" id="red">
    <a href="routine3" >
      <h1 class="tile-text">
        This is going to f#$%&^ hurt</h1>
    </a>
  </div>
</div>
 

</body>




</html>