<!DOCTYPE html>
<html>
<head>
  <title>Microfit Login</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>

  <script src="/vendor/jquery.countdown/dist/jquery.countdown.js"></script>

  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>

  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

  <!-- Microfit CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

  <!-- Microfit JS -->
  <script src="/static/js/app.js"></script>

   <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Shadows+Into+Light|Raleway:400,700' rel='stylesheet' type='text/css'>

</head>
<!--BODY-->
<body class="routine1">
	<div class="container">
		<div class="routine">
      <p class='itemName'>Let's gets started!</p>
		</div>
		<div class="countdown circle">
		</div>
    <div class="next">
    </div>
	</div>

    <div>
    <iframe id="music" src="" hidden="true" width="200" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>

    </div>

	</body>
	</html>
