<!DOCTYPE html>
<html>
<head>
  <title>Microfit Login</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  
  <!-- Microfit CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<!--BODY-->
<body>
	
	<!--Carousel-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
	        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
	    </ol>
	    <div class="carousel-inner">
	        <div class="item active">
	            <div class="container">
	                <div class="carousel-caption">
	                     <h1>Example headline.</h1>
	                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
	                </div>
	            </div>
	        </div>
	        <div class="item">
	            <div class="container">
	                <div class="carousel-caption">
	                     <h1>Another example headline.</h1>
	                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
	                </div>
	            </div>
	        </div>
	        <div class="item">
	            <div class="container">
	                <div class="carousel-caption">
	                     <h1>One more for good measure.</h1>
	                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
	                </div>
	            </div>
	        </div>
	    </div> <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	 <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

	</div>

	<!-- Modal -->
	<!-- Large modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div>








	</body>
	</html>